.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151B2E;
    height: 70px;
    border-radius: 20px;
}

.navbar ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.navbar li {
    font-size: 30px;
}

.navbar a {
    color: #F3F4F6;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    transition: .3s;
    font-weight: 700;
}

.navbar a:hover {
    color: #60A5FA;
    text-shadow: 0 0 10px #60A5FA;
}

body {
    background-color: #0A0F1F;
}

.container {
    width: 80%;
    height: 32px;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    overflow: hidden;
}

.skill {
    background-color: #3B82F6;
    border-radius: 10px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
}

.programming {
    width: 40%;
}

.math {
    width: 80%;
}

.english {
    width: 90%;
}

.electronics {
    width: 50%;
}

#about {
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    background-color: #151B2E;
    padding: 50px;
}

#ivanov{
    color: #3B82F6;
}

#ivan {
    color: #E5E7EB;
    margin-bottom: -10px;
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.right-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

h1 span {
    display: block;
}

main {
    padding: 30px;
}

.project-card {
    background: #0F172A;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}

.project-card:hover {
    transform: translateY(-5px);
    border: 1px solid #3B82F6;
    box-shadow: 0 0 20px rgba(59,130,246,.3);
}

#about h1 {
    font-size: 70px;
}

#about p {
    font-size: 22px;
}

#about h3 {
    color: #94A3B8;
    font-size: 18px;
}

.navbar .btn {
    position: absolute;
    right: 40px;
    background: #2563EB;
    color: white;
    padding: 7px 7px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
}

#skills {
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    background-color: #151B2E;
    padding: 20px 0px 0px 50px;
    color: white;
}

#skills h1 {
    font-size: 40px;
}

#skills span {
    font-size: 30px;
}

#focus {
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    background-color: #151B2E;
    color: white;
}

#projects {
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    background-color: #151B2E;
    padding: 50px;
    margin-top: 50px;
    color: white;
}

.github {
    position: absolute;
    right: 280px;
    font-size: 28px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 75%;
}

.project-card a {
    color: white;
    font-size: 32px;
    transition: .3s;
}

.project-card a:hover {
    color: #3B82F6;
    transform: scale(1.15);
}

.project-info h3 {
    margin: 0;
    font-size: 28px;
}

.project-info p {
    margin: 0;
    color: #94A3B8;
    line-height: 1.5;
}

footer {
    text-align: center;
    font-size: 30px;
    color: white;
}

footer a {
    color: #3B82F6;
    text-decoration: none;
}

.achievement {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 55px;
}

.achievement i {
    font-size: 28px;
    color: #3B82F6;
    width: 35px;
    text-align: center;
    flex-shrink: 0;
}

#focus h1{
    padding: 20px 0px 0px 50px;
    font-size: 40px;
}

.focus-card {
    margin-bottom: 30px;
    margin-left: 30px;
}

#focus p{
    font-size: 30px;
}

#about .btn {
    right: 40px;
    background: #2563EB;
    color: white;
    padding: 7px 7px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
}

#rscg {
  padding-top: 30px;
}

#rscg {
    padding-top: 30px;
}

#mort {
    padding-top: 30px;
}