{% extends "base.html" %}
{% block content %}
<main>

<div class="hero">
    <section id="about">
        <h3>Engineering Student</h3>
        <h1>
    <span id="ivan">IVAN</span>
    <span id="ivanov">IVANOV</span>
        </h1>
        <p>Passionate about STEM</p>

        <a href="https://github.com" class="btn">More About Me</a>

    </section>

    <div class="right-side">
    <section id="skills">
        <h1>My Achievements</h1>
        
        <div class="achievement">
            <i class="bi bi-mortarboard-fill" id="mort"></i>
            <span id="rscg">Riga State Classical Gymnasium</span>
        </div>

         <div class="achievement">
            <i class="bi bi-kanban-fill"></i>
            <span>10+ Personal Projects</span>
        </div>

        <div class="achievement">
            <i class="bi bi-cpu-fill"></i>
            <span>Electronics Enthusiast</span>
        </div>

        <div class="achievement">
            <i class="bi bi-globe-europe-africa"></i>
            <span>IELTS 7.0 (C1)</span>
        </div>



    </section>

    <section id="focus">
        
        <h1>Current Focus</h1>
        
        <div class="focus-card">
        <p>Programming</p>
        <div class="container">
            <div class="skill programming">40%</div>
        </div>
        </div>

        <div class="focus-card">
        <p>Mathematics</p>
        <div class="container">
            <div class="skill math">80%</div>
        </div>
        </div>

        <div class="focus-card">
        <p>English</p>
        <div class="container">
            <div class="skill english">90%</div>
        </div>
        </div>

        <div class="focus-card">
        <p>Electronics</p>
        <div class="container">
            <div class="skill electronics">50%</div>
        </div>
        </div>

    </section>
    </div>
</div>

    <section id="projects">

        <h1>Featured Projects</h1>
        <div class="projects-grid">
    <div class="project-card">
        <div class="project-info">
            <h3>Deej Controller</h3>
            <p>Custom hardware controller for Windows volume control with Arduino.</p>
        </div>
            <a href="https://github.com/e-lataks/deej"><i class="bi bi-github"></i></a>
    </div>

    <div class="project-card">
        <div class="project-info">
            <h3>Weather Station</h3>
            <p>Weather monitoring station using Arduino and sensors.</p>
        </div>
            <a href="https://github.com/e-lataks"><i class="bi bi-github"></i></a>
    </div>

    <div class="project-card">
        <div class="project-info">
            <h3>Voice Assistant</h3>
            <p>Python voice assistant with APIs and automation features.</p>
        </div>
            <a href="https://github.com/e-lataks"><i class="bi bi-github"></i></a>
    </div>

    <div class="project-card">
        <div class="project-info">
            <h3>Arduino Dashboard</h3>
            <p>Desktop dashboard for monitoring Arduino data in real time.</p>
        </div>
            <a href="https://github.com/e-lataks"><i class="bi bi-github"></i></a>
    </div>

</div>
    </section>

</main>

<footer>
    <p>Have a question or want to connect? Check out the <a href="{{ url_for('contact') }}">Contacts</a> page!</p>
</footer>
{% endblock %}
